:root
{
    --background-dark: rgba(0, 0, 0, 0);
    --background-white: white;

    --book-width: 150px;
    --book-height: calc(var(--book-width)*5/3);
    
    --section-padding: 15px;
}

*
{
    background-color: var(--background-white);
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items; */
    min-height: 100vh;
}

.menu
{
    flex: 1 0 auto;

    display: flex;
    justify-content: space-between;
}

.menu .stats{

}

.menu form{
    justify-items:flex-end;
    align-content: flex-end;
}

#addBookForm
{
    padding: var(--section-padding);
    align-items:flex-end;
}

#addBookForm input
{
    margin: 5px;
}


.card-table
{
    flex: 3 auto;
    display: grid;
    justify-content: center;
    grid-template: var(--book-height) / repeat(auto-fill, minmax(var(--book-width), calc(var(--book-width) + 50px)));
    grid-auto-rows: var(--book-height);
    gap: 10px;
    
    padding: var(--section-padding);
    
    
}

.card
{
    margin: 3px;
    background: rgb(255, 112, 136);
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card *
{
    background-color: inherit;
}

.card .title
{
    /* position: relative; */
    margin-top: 50px;
    text-align: center;

}

.card .author
{
    text-align: end;
    padding: 15px;
}

.card input{
    justify-self: flex-end;
    align-self: flex-start;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}