:root
{
    --background-dark: rgba(0, 0, 0, 0);
    --background-white: white;

    --book-width: 175px;
    --book-height: calc(var(--book-width)*5/3);
    
    --section-padding: 15px;
}

*
{
    background-color: var(--background-white);
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items; */
    min-height: 100vh;
    padding: 15px
}

.menu
{
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu .stats{

}

.menu form{
    justify-items:flex-end;
    align-content: flex-end;
}

#addBookForm
{
    padding: var(--section-padding);
    align-items:flex-end;
}

#addBookForm input
{
    margin: 5px;
}

.filter
{
    display: flex;
    gap: 10px;
}

.filter input
{

}

.filter input#searchFilter
{
    flex: 1 0 auto;
}

.filter input[type="number"]
{
    max-width: 45px;
}

.filter>div
{
    border: 1px black solid;
}

.card-table
{
    flex: 3 auto;
    display: grid;
    grid-template: var(--book-height) / repeat(auto-fill, minmax(var(--book-width), 1fr));
    grid-auto-rows: var(--book-height);
    gap: 10px;
    
    padding: var(--section-padding) 0;
}

.card
{
    margin: 3px;
    background: rgb(255, 112, 136);
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.card:hover
{
    border: 3px cornflowerblue solid;
}

.card *
{
    background-color: inherit;
    border-radius: inherit;

}

.card .title
{
    /* position: relative; */
    margin-top: 50px;
    text-align: center;

}

.card .author
{
    text-align: end;
    padding: 15px;
}

.card input{
    justify-self: flex-end;
    align-self: flex-start;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    /* display: none; */
    position: absolute;

    height: 0;
    overflow: hidden;
    /*-webkit-transition: height 200ms linear;
    -moz-transition: height 200ms linear;
    -ms-transition: height 200ms linear;
    -o-transition: height 200ms linear; */
    transition: height 150ms linear;
}

.dropdown:hover .dropdown-content {
    /* display: block; */
    height: 3.5em;
}
